<select name="select_logtype" id="select_logtype" class="input-medium">
	<option value="" selected>-- [% c.l("_LOG_TYPE") %] --</option>
	<option value="asynchronous">asynchronous</option>
	<option value="syslog">syslog</option>
</select>
