[% USE LogManagement.Device %]
<select name="select_device_type[% id_type %]" id="select_device_type[% id_type %]" class="input-medium">
	<option value="" selected>-- [% c.l("_DEVICE_TYPE") %] --</option>
[% FOREACH dt IN LogManagement.Device.types -%]
	<option value="[% dt %]">[% dt %]</option>
[% END -%]
</select>
