<select name="[% name || 'select_status' %]" id="[% id || 'select_status' %]" class="input-medium">
	<option value="0">[% c.l("_DISABLED") %]</option>
	<option value="1" selected>[% c.l("_ENABLED") %]</option>
</select>
